<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.happygod.jerrymouse">

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	
	<application android:allowBackup="true" android:icon="@drawable/ic_launcher_colored"
		android:label="@string/app_name" android:roundIcon="@drawable/ic_launcher_colored"
		android:supportsRtl="true" android:theme="@style/AppTheme"
		android:usesCleartextTraffic="true">
		<activity android:name=".MainActivity" android:launchMode="singleTask" android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:name=".WebPageActivity" android:launchMode="singleTask" android:screenOrientation="portrait">
		</activity>
		<service android:name=".WebService" android:launchMode="singleTask"/>
		<receiver android:name=".NetworkStateReceiver" android:launchMode="singleTask">
			<intent-filter>
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</receiver>
	</application>

</manifest>