@font-face
{
	font-family:'Product Sans';
	src:url(./font.woff2) format('woff2');
}
body
{
	text-align:center;
	margin:0;
	padding:0;
	font-family:'Product Sans';
	cursor:default;
}
:focus
{
	outline:none;
}
a
{
	text-decoration: none;
	color:white
}
#navigator
{
	position:relative;
	width:100%;
	text-align:left;
	padding:10px 0 10px 0;
	color:white;
}
#title
{
	position:absolute;
	width:40%;
	top:10px;
	left:0;
	text-align:center;
	margin:0 30% 0 30%;
}
#add
{
	position:absolute;
	top:0;
	right:0;
	text-align:right;
	margin:0 10px 0 10px;
	font-size:1.65em;
	cursor:pointer;	
}
.entry
{
	position:relative;
	width:100%;
	text-align:left;
	border-bottom: 1px solid black;
	border-top: 1px solid white;
	cursor:pointer;	
}
.line
{
	margin:10px;
	height:1em;
	text-align:center;
}
#floatingwindow
{
	position:fixed;
	width:100%;
	height:100%;
	text-align:center;
	top:0;
	margin:0;
	padding:0;
	display:none;
	z-index:1;
}
#mask
{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	margin:0;
	padding:0;
	background-color: grey;
	opacity:0.8;
	z-index:-1;
}
input,select,button,#detail
{
	width:100%;
	border-radius: 5px;
	border: 1px solid grey;
	background: none;
	font-family:'Product Sans';
}
#detail
{
	width: fit-content;
	margin: 0 auto;
	padding: 10px;
	background-color: white;
}
th,td
{
	font-weight:normal;
	text-align:center;
}
button
{
	width:30%;
	height:1.5em;
	color:white;
	border:none;
}
.buttongreen
{
	background-color: green;
}
.buttonred
{
	background-color: red;
}
.buttongrey
{
	background-color: grey;
}
